$edge-color: #4db6ac;
$selected-edge-color: #ff9900;

$node-color: #90caf9;
// $selected-node-color: #1e88e5;
$selected-node-color: darken($node-color, 20);
$node-border-color: #1565c0;
$node-analysis-color: #ba68c8;

$primary-color: #e57373;
$primary-accent-color: #b71c1c;
