@import "./vars";

.analysis-panel {
  .analysis-title {
    display: flex;
    justify-content: space-between;
    align-content: center;
  }
  .analysis-content {
    padding: 0 10px;
  }
  .paths-found {
    margin-top: 1.5rem;
  }
}
