@import "./vars";

#graph-root {
  .base-edge-group {
    cursor: pointer;

    .edge {
      stroke: $edge-color;
    }

    .arrow-head {
      fill: $edge-color;
    }

    &.edge-selected {
      .edge {
        stroke: $selected-edge-color;
        filter: url(#drop-shadow-filter);
      }

      .arrow-head {
        fill: $selected-edge-color;
      }
    }

    &.part-of-analysis-path {
      .edge {
        stroke: blue;
      }
      .arrow-head {
        fill: blue;
      }
    }
  }
  .edge-group {
    .editable-input-background {
      stroke: #bbb;
      stroke-opacity: 0.5;
      fill: #f5f5f5;
      fill-opacity: 0.7;
    }
  }
}
