@import "./vars";

#graph-root {
  flex-grow: 1;
  width: 100%;
  max-height: 100vh;

  .canvas {
    cursor: all-scroll;

    &.altKey {
      cursor: cell;
    }
  }

  .editable-input {
    text {
      pointer-events: none;
      user-select: none;
      font-size: 16px;
    }

    .label-input {
      padding: 0 5px;
    }
  }
}
