@import "./vars";

#graph-root {
  .node-group {
    cursor: pointer;

    .node {
      fill: $node-color;
      stroke: $node-border-color;
      stroke-width: 2;
      &.altKey {
        cursor: context-menu;
      }
    }

    .final-node-marker {
      fill: none;
      stroke: $node-border-color;
      stroke-width: 2;
    }

    .anchor-point {
      stroke: $node-border-color;
      stroke-width: 2;
      fill: lighten($node-color, 30);
    }

    &.node-selected {
      .node {
        fill: $selected-node-color;
      }

      .final-node-marker {
        stroke: $node-color;
      }

      .editable-input text {
        fill: white;
      }
    }

    &.isInitial {
      .node {
        fill: $primary-color;
        stroke: $primary-accent-color;
      }
      .anchor-point {
        stroke: $primary-accent-color;
        fill: lighten($primary-color, 30);
      }
      .final-node-marker {
        stroke: $primary-accent-color;
      }

      &.node-selected {
        .node {
          fill: darken($primary-color, 10);
        }
        .final-node-marker {
          stroke: $primary-color;
        }
      }
    }

    &.node-selected-for-analysis {
      .node {
        fill: $node-analysis-color;
        stroke: #212529;
      }
      .final-node-marker {
        stroke: #212529;
      }
    }
  }
}
